<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} navbar {% endblock %}</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/login">Registrarse</a>
            </li>
            <li>
                <a href="/singin">Iniciar sesion</a>
            </li>
            <li>
                <a href="/">Inicio</a>
            </li>
        </ul>
    </nav>
    
    
    {% block content %}
    {% endblock %}
    
</body>
</html>