{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Universidad Tecnologica Nacional</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <header>
        <img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/6/67/UTN_logo.jpg">
        <h1>Universidad Tecnologica Nacional</h1>
    </header>
    <nav>
        <div class="container">
            <a href="#">Inicio</a>
            <a href="#">Acerca de</a>
            <a href="#">Programas Académicos</a>
            <a href="#">Contacto</a>
        </div>
    </nav>
    <div class="container main">
        <h2>Bienvenido a la Universidad Tecnologica Nacional</h2>
        <p>Explora nuestras opciones académicas y descubre un mundo de oportunidades educativas.</p>
    </div>
    <footer>
        <p>&copy; 2023 Universidad Tecnologica Nacional. Todos los derechos reservados.</p>
    </footer>
</body>
</html>

<!DOCTYPE html>
<html>
<head>
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" type="text/css" href="estilos.css">
</head>
<body>
    <h1>Iniciar Sesión</h1>
    <form action="procesar_iniciar_sesion.php" method="post">
        <label for="usuario">Usuario:</label>
        <input type="text" id="usuario" name="usuario" required>
        
        <label for="contrasena">Contraseña:</label>
        <input type="password" id="contrasena" name="contrasena" required>
        
        <input type="submit" value="Iniciar Sesión">
    </form>
</body>
</html>
