{% extends 'base2.html' %}

{% block title %} {% endblock %}
    <h1>Inscribir a materias></h1>
    {% csrf_token %}
    {for c in carreras %}
        <h1>{{c}}</h1>
        {% for m in materias_totales %}
            <form action="" method="post">
                {% csrf_token %}
                <label for="materia">Materia:</label>
                <label for="materia" id="materiad0">{{m}}</label><br>

                <input type="hidden" name="materia_id" value="{{ m.id }}">
                <input type="hidden" name="carrera_id" value="{{ c.id }}">

                <input type="submit" value="Inscribirse">
            </form>
            {{m}}

        {% endfor %}
    {% endfor %}

{% block content %}
{% endblock %}